/* static START */
* {
	margin:0;
	padding:0;
}

body {
	background:#BEC3C6;
	color:#555;
	font-family:Verdana,"BitStream vera Sans",Helvetica,Sans-serif;
	font-size:12px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	letter-spacing:-0.05em;
	font-family:Arial;
}