<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" SYSTEM "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<meta http-equiv="Content-Type" content="text/html;charset=windows-1251">
<head>

<meta http-equiv="Cache-Control" content="no-cache, no-store, max-age=0, must-revalidate"/>

<title>Smarty home system [SHS]</title>

<!-- css section -->
<!--
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
-->
<!-- end css section -->

<!-- js section -->
<!--

<script src="{{ STATIC_URL }}js/func.js" type="text/javascript" charset="utf-8"></script>
-->
<!-- end js section -->

</head>
  
    <body>
	    
	    <h2>Smarty Home System</h2>
	    <hr width="100%">
	    <a href="/">Система</a> | <a href="/sensors">Сенсоры</a> | <a href="/video">Видео</a> | <a href="/settings">Настройки</a>
	    <hr width="100%">
		  
	    {% block page_title %}{% endblock %}
	    
	    {% block main %}{% endblock %}
	    {% block sensors %}{% endblock %}
	    {% block video %}{% endblock %}
	    {% block settings %}{% endblock %}
	  
</body>
</html>
