{% extends "web/index.html" %}
{% block page_title %}<h3>Система</h3>{% endblock %}

{% block main %}

<br/>
<h3>Зарегестрированные датчики в smarty</h3><br/>
{% if sensors %}
	
	{% for s in sensors %}
		{{ s.id }} {{ s.alias}} ({{ s.address }}) <br/>
	{% endfor %}

{% else %}

нет регистрации датчиков
	
{% endif %}

<br/>
<h3>Монитор событий smarty</h3><br/>
{% if events %}
	
	{% for e in events %}
		{% if e.status == 0 %}
			<font color="black"><i>{{ e.date}}</i> {{ e.action }}</font><br/>
		{% else %}
			<font color="red"><i>{{ e.date}}</i> {{ e.action }} (alert id: {{ e.status }}) </font><br/>
		{% endif %}
		
	{% endfor %}

{% else %}

Нет событий в smarty	
	
{% endif %}



<br/>
<h3>Монитор критических событий smarty</h3><br/>
{% if alerts %}
	
	{% for a in alerts %}
		<i>{{ a.date}}</i> <b>{{ a.sensor }}</b>: {{ a.alert }} (P{{ a.priority }})  <br/>
	{% endfor %}

{% else %}

Нет событий в alerts smarty	
	
{% endif %}

<br/>
<h3>данные температуры</h3><br/>
{% if temp_data %}
	
	{% for t in temp_data %}
		{% if t.data < 19 %}
			<i>{{ t.date}}</i> <b>{{ t.sensor }}</b> :<font color="blue">{{ t.data}}</font> <br/>
		{% else %}
			{% if t.data > 19 and t.data < 25 %}
				<i>{{ t.date}}</i> <b>{{ t.sensor }}</b> :<font color="black">{{ t.data}}</font> <br/>
			{% else %}
				<i>{{ t.date}}</i> <b>{{ t.sensor }}</b> :<font color="red">{{ t.data}}</font> <br/>
			{% endif %}
		{% endif %}
		
		
		
	{% endfor %}

{% else %}

Нет данных по температуре
	
{% endif %}




<br/>
<h3>данные PIO</h3><br/>
{% if temp_data2 %}
	
	{% for t in temp_data2 %}
		<i>{{ t.date }}</i> <b>{{ t.sensor }}</b>
		| pio0: {{ t.pio_0}}
		| pio1: {{ t.pio_1}}
		| pio2: {{ t.pio_2}}
		| pio3: {{ t.pio_3}}
		| pio4: {{ t.pio_4}}
		| pio5: {{ t.pio_5}}
		| pio6: {{ t.pio_6}}
		| pio7: {{ t.pio_7}}<br/>
	{% endfor %}

{% else %}

Нет данных по PIO
	
{% endif %}





{% if message %}
	<font color="blue">{{ message }}</font>
{% endif %}

{% endblock %}
