{% extends "web/index.html" %}

{% block main %}

<!-- BLOCK start -->

<div id="block1">
		
	<div class="internal_block">
		
		<div class="block_caption">
			◌ Камеры наблюдения
		</div>
		
		<div class="block_data">
		
			Cam-3 - Улица<br/>
			<img src="{{STATIC_URL}}images/cam3.jpg" width="70%"/><br/><br/>
			
			Cam-4 - Улица<br/>
			<img src="{{STATIC_URL}}images/cam4.jpg" width="70%"/><br/><br/>
		
		</div>
		
		
		<div class="block_caption">
			◌ Монитор событий smarty
		</div>
		
		<div class="block_data">
			{% if events %}
		
				{% for e in events %}
					{% if e.status == 0 %}
						<font color="black"><i>{{ e.date}}</i> <br/>{{ e.action }}</font><br/>
					{% else %}
						<font color="red"><i>{{ e.date}}</i> <br/>{{ e.action }} (alert id: {{ e.status }}) </font><br/>
					{% endif %}
					
				{% endfor %}
			
			{% else %}
			
			Нет событий в smarty	
				
			{% endif %}
		</div>
		
		
	
	
	</div>
	
	<div class="internal_block">
		<div class="block_caption">
			◌ Монитор критических событий smarty
		</div>
		
		<div class="block_data">
			{% if alerts %}
	
				{% for a in alerts %}
					<i>{{ a.date}}</i> <b>{{ a.sensor }}</b>: {{ a.alert }} (P{{ a.priority }})  <br/>
				{% endfor %}
			
			{% else %}
			
			Нет событий в alerts smarty	
				
			{% endif %}
		</div>
	</div>
	
	
</div>

<!-- BLOCK start -->

<div id="block2">
	
	<div class="internal_block">
		
		<div class="block_caption">
			◌ Состояние дома: температура, освещение
		</div>
		
		<div class="block_data">
			<br/>
			<img src="{{STATIC_URL}}images/home-model2013_1floor.png" width="38%"/>
			<img src="{{STATIC_URL}}images/home-model2013_2floor.png" width="40%"/>
			<br/>
			{% if temp_data %}
			
				{% for t in temp_data %}
					<div style="position: absolute; left: {{ t.data }}px; top: {{ t.data }}px;">
					{% if t.data < 19 %}
						<i>{{ t.date}}</i> <b>{{ t.sensor }}</b> :<font color="blue">{{ t.data}}</font> <br/>
					{% else %}
						{% if t.data > 19 and t.data < 25 %}
							<b>{{ t.sensor }}</b> :<font color="black">{{ t.data}}</font> <br/>
						{% else %}
							<b>{{ t.sensor }}</b> :<font color="red">{{ t.data}}</font> <br/>
						{% endif %}
					{% endif %}
					</div>
					
				{% endfor %}
				
				<br/>
				Чердак: +23<br/>
				Улица: +26<br/>
				<br/>
				<br/>
				
				Управление светом в доме: <img src="{{STATIC_URL}}images/button_on.jpg" width="10%"/> <img src="{{STATIC_URL}}images/button_off.jpg" width="10%"/><br/>
				Включить систему "приход домой" (включение основного света 50% на первом этаже) <img src="{{STATIC_URL}}images/button_on.jpg" width="10%"/><br/>
				Включить систему присутствия в доме <img src="{{STATIC_URL}}images/button_on.jpg" width="10%"/>
				
			{% else %}
			
			Нет данных по температуре
				
			{% endif %}
		</div>
		
		
		<div class="block_caption">
			◌ Канализация
		</div>
		
		<div class="block_data">
			<img src="{{ STATIC_URL }}images/sewage_.png"/> <br/><br/>
			
			Колодец 1 - 25% заполнения <br/>
			Колодец 2 - 0% заполнения <br/>
			<br/>
			
		</div>
		
		
		
		
		
	</div>
	
	
	<div class="internal_block">
		<div class="block_caption">
			◌ Полив газона
		</div>
		
		<div class="block_data">
			Полив газона был включен 2013-02-21 00:00 по программе<br/>
			Выключить систему автополива
			<img src="{{STATIC_URL}}images/button_on.jpg" width="10%"/>
		</div>
		
		<div class="block_caption">
			◌ Освещение участка
		</div>
		
		<div class="block_data">
			Освещение участка было выключено 2013-02-21 02:00 по программу
			<br/>
			Выключить освещение участка
			<img src="{{STATIC_URL}}images/button_off.jpg" width="10%"/>
		</div>
		
	</div>
	
</div>

<!-- BLOCK start -->

<div id="block3">
	
	<div class="internal_block">
		
		<div class="block_caption">
			◌ Камеры наблюдения
		</div>
		
		<div class="block_data">
			Cam-1 - Задний двор<br/>
			<img src="{{STATIC_URL}}images/cam1.jpg" width="70%"/><br/><br/>
			Cam-2 - Центральный вход<br/>
			<img src="{{STATIC_URL}}images/cam2.jpg" width="70%"/><br/>
			
		</div>
		
		<div class="block_caption">
			◌ Прогноз погоды
		</div>
		
		<div class="block_data">
			
			<!--pogoda.by-->
			<!--Информер распространяется свободно и на безвозмездной основе. Однако, в случае изменения кода информера (в частности, удаления ссылок), POGODA.BY снимает с себя ответственность за конечный результат.-->
			
			<table width="270" height="180" style="background-color:#FFFFFF; font-family:Tahoma; font-size:12px; color:#000000;" cellpadding="2" cellspacing="0">
			<tr><td><a href="http://6.pogoda.by/26850" style="font-family:Tahoma; font-size:12px; color:#003399;" title="Погода Минск на 6 дней - Гидрометцентр РБ" target="_blank">Погода Минск</a>
			</td></tr>
			<tr><td>
			
			<table width=100% height=100% style="background-color:#FFFFFF; font-family:Tahoma; font-size:12px; color:#000000;" cellpadding="0" cellspacing="0">
			<tr><td>
			<script type="text/javascript" charset="windows-1251" src="http://pogoda.by/meteoinformer/js/26850_3.js"></script>
			</td></tr>
			</table>
			
			</td></tr>
			
			
			</table>
			
		</div>
	</div>
	
	<div class="internal_block">
		<div class="block_caption">
			◌ Фаза луны
		</div>
		
		<div class="block_data">
			<iframe src=http://www.astrolab.ru/cgi-bin/informer/informer.cgi?type=33 frameborder=0 vspace=0 hspace=0 width=100 height=100 marginwidth=0 marginheight=0 scrolling=no></iframe>
		</div>
	</div>
	
	
	
</div>



{% if message %}
	<font color="blue">{{ message }}</font>
{% endif %}

{% endblock %}
