{% extends "web/index.html" %}
{% block page_title %}<h3>Сенсоры</h3>{% endblock %}

{% block sensors %}

{% if slist %}
Список активных сенсоров: <br/>	<br/>
	{% for s in slist %}
		#{{ forloop.counter }} sensor:  {{ s.address }} | {{ s.type }} - 
		
		{% if s.temperature %}
			{{ s.temperature }}
		{% endif %}
		
		{% if s.PIO_ALL %}
			{{ s.PIO_ALL }}
		{% endif %}
		
		<form action="demo_form.asp">
		<input type="text" name="sensor_address" value="{{ s.address }}"/>
		<input type="text" name="sensor_alias" value="s_"/>
		<input type="submit" value="сохранить сенсор" />
	        </form>
		
	{% endfor %}
{% endif %}

{% if error %}
	<font color="red">{{ error }}</font>
{% endif %}

{% endblock %}
