{% extends "web/index.html" %}


{% block sensors %}


{% if slist %}
Список найденных OWFS сенсоров: <br/>	<br/>
	{% for s in slist %}
		#{{ forloop.counter }} sensor:  {{ s.address }} | family: {{ s.family }} data: { 
		
		{% if s.temperature %}
			{{ s.temperature }}
		{% endif %}
		
		{% if s.PIO_ALL %}
			{{ s.PIO_ALL }}
		{% endif %}
		
		}
		{% if s.alias %}
		<form action="/sensors/" method="post">
		{% csrf_token %}
		<input type="text" name="sensor_address" value="{{ s.address }}" style="background-color: green;"/>
		<input type="text" name="sensor_alias" value="{{ s.alias }}" style="background-color: green;"/>
		<input type="hidden" name="sensor_family" value="{{ s.family }}"/>
		<input type="hidden" name="sensor_extra" value="{{ s.extra }}"/>
		<input type="submit" name="add_sensor" value="обновить сенсор" />
	        </form>
		{% else %}
		<form action="/sensors/" method="post">
		{% csrf_token %}
		<input type="text" name="sensor_address" value="{{ s.address }}"/>
		<input type="text" name="sensor_alias" value="f1_"/>
		<input type="hidden" name="sensor_family" value="{{ s.family }}"/>
		<input type="hidden" name="sensor_extra" value=""/>
		<input type="submit" name="add_sensor" value="сохранить сенсор" />
	        </form>	
		{% endif %}	
	
		
	{% endfor %}
{% endif %}

{% if message %}
	<font color="blue">{{ message }}</font>
{% endif %}

{% endblock %}
