{% extends "web/index.html" %}

{% block settings %}

<br/>

	<iframe src="http://localhost/zm/index.php" width="100%" frameborder="0" height="25%" ></iframe>

<br/>
	
	<table width="100%" border="0" cellpadding="2" cellspacing="0">
	
	<tr>
	<td width="25%">
	<b>График полива газона</b>
	
	{% if controllers %}
		<select>
		
		{% for c in controlles %}
			<option value="{{ c.address }}">{{ c.alias }}</option>
			
		{% endfor %}
		
		</select>
	
	{% endif %}
	
	</td>
	
	
	<td align="right" width="40%">
	
	<form action="/settings/" method="post">
	{% csrf_token %}
	<label for="c_from_water">From</label>
	<input type="text" id="c_from_water" name="c_from_water" />
	<label for="c_to_water">to</label>
	<input type="text" id="c_to_water" name="c_to_water" />
	
	<br/><br/>
	Время полива<br/>
	<input type="text" id="c_from_water_time" name="c_from_water_time" value="00:00"/>
	<input type="text" id="c_to_water_time" name="c_to_water_time" value="02:00"/>
	
	<br/>
	<br/>
	<input type="button" name="save_water_settings" value="сохранить автополив">
	<br/><br/>
	</form>
	
	</td>
	
	<td align="center"><img src="{{ MEDIA_URL }}timelinepoliv.jpg"></td>
	
	</tr>
	
	<tr>
	<td>
	<b>График освещения участка</b>
	{% if controllers %}
		<select>
		
		{% for c in controlles %}
			<option value="{{ c.address }}">{{ c.alias }}</option>
			
		{% endfor %}
		
		</select>
	
	{% endif %}
	</td>
	
	
	<td align="right">
	
	<form action="/settings/" method="post">
	{% csrf_token %}
	<label for="c_from_svet">From</label>
	<input type="text" id="c_from_svet" name="c_from_svet" />
	
	<label for="c_to_svet">to</label>
	<input type="text" id="c_to_svet" name="c_to_svet" />
	<br/>
	<br/>
	Время влючения света
	<br/>
	<input type="text" id="c_from_svet_time" name="c_from_svet_time" value="00:00"/>
	<input type="text" id="c_to_svet_time" name="c_to_svet_time" value="02:00"/>
	
	<br/>
	<br/>
	<input type="button" name="save_light_settings" value="сохранить автоосвещение">
	<br/><br/>
	</form>
	
	</td>
	
	<td align="center"><img src="{{ MEDIA_URL }}timelinesvet.jpg"></td>
	
	</tr>
	
	</table>

	<br/>
	
	<center>
	<div style="width: 58%;">
		<div id="home_plan" style="border: 1px dotted gray; padding: 5px; position: relative;">
			<img src="{{STATIC_URL}}images/home-model2013_1floor.png" width="89%"/><br/>
			<img src="{{STATIC_URL}}images/home-model2013_2floor.png" width="90%"/>
			
			{% if temp_data %}
			
				{% for t in temp_data %}
						
						{% if t.data < 19 %}
							<div class="temperature" style="left: {{ t.x }}px; top: {{ t.y }}px;">
								<div style="position: absolute; left: 0px; top: 0px;"><img src="{{ STATIC_URL }}images/t_cold.jpg"></div>
								<div style="position: absolute; left: 13px; top: 40px;">{{ t.data}}</div>
							</div>
						{% else %}
							{% if t.data > 19 and t.data < 25 %}
								<div class="temperature" style="left: {{ t.x }}px; top: {{ t.y }}px;">
									<div style="position: absolute; left: 0px; top: 0px;"><img src="{{ STATIC_URL }}images/t_normal.jpg"></div>
									<div style="position: absolute; left: 13px; top: 40px;">{{ t.data}}</div>
									
								</div>
							{% else %}
								<div class="temperature" style="left: {{ t.x }}px; top: {{ t.y }}px;">
									<div style="position: absolute; left: 0px; top: 0px;"><img src="{{ STATIC_URL }}images/t_hot.jpg"></div>
									<div style="position: absolute; left: 13px; top: 40px;">{{ t.data}}</div>
								</div>
							{% endif %}
						{% endif %}
					
				{% endfor %}
				
			{% endif %}
			
			
		</div>
	</div>
	</center>


	{% if message %}
		<font color="blue">{{ message }}</font>
	{% endif %}

{% endblock %}
